
<div class="container">

<div class="well">
 <%= form_for @contact do |f| %>

 <%= f.label :name, "Nombre Completo"%>
 <%= f.text_field :name %>

</div>

<div class ="well">
  <%= f.fields_for :emails do |email| %>
  <%= f.label :name, "Correo Electronico"%>
    <%= render 'email_fields', f: email %>
    <div class="btn btn-default">
    <%= link_to_add_association 'A単adir Mail', f,  :emails %>
    </div>

  <% end %>
</div>

<div class ="well">
  <%= f.fields_for :phones do |phone| %>
    <%= render 'phone_fields', f: phone %>
    <%= link_to_add_association 'A単adir Telefono', f,  :phones %>

  <% end %>
</div>

<div class ="well">
  <%= f.fields_for :links do |link| %>
    <%= render 'link_fields', f: link %>
    <%= link_to_add_association 'A単adir Link', f,  :links %>

  <% end %>
</div>

<div class ="well">
  <%= f.fields_for :addresses do |address| %>
    <%= render 'address_fields', f: address %>
    <%= link_to_add_association 'A単adir Direccion', f,  :addresses %>

  <% end %>
</div>

<div class ="well">
<%= f.label :note, "Nota"%>
<%= f.text_area :note %>

</div>
<%= f.submit%>
<% end %>

</div>
